.header-block
{
    display: block;
    position: relative;
}

.header-block .img-left
{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
}

.header-block .img-middle
{
    z-index: 999;
    position: relative;
    max-width: 100%;
}

.header-block .img-right
{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

.header-block .img-back
{
    z-index: -5;
    position: relative;
    max-width: 100%;
}

@media (max-width: 767.98px) { 
    .header-block .img-left
    {
        max-width: 50%;
    }
    .header-block .img-right
{

    max-width: 50%;
}

 }

 .bg {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .flexcontainer {
    display: flex;
    flex-direction: column;    
    justify-content: space-between; 
 }
 .flexitem {
    align-items: flex-start;
    text-align: right;
    padding-bottom: 170px;

 }

 .carouselcard {
     height: 268px ;
    
 }

 .kitten-bg {
    background-image: url("http://placekitten.com/1200/600");
 }

 .header-border {
    border: solid 1px #dee2e6;
    border-left-width: 3px;
    border-left-color: #000;
    padding: 10px 15px;
    background-color: white;
 }

 .white-box{
     background-color: white;
 }

 .grey-back {
    background-color: #fbfbfb;
    
 }

.grey-text {
    color: #444444;
}

.blue-text {
    color: #00d5ed;
}

.legaleze {
    display: inline;
}

 .dark-back {
     background-color: #212528;
 }

 .black-back {
     background-color: black;
 }

 .inverse-header-border {
    border: solid 1px black;
    border-left-width: 3px;
    border-left-color: #000;
    border-style: groove;
 }

 .dark-border {
    border: solid 1px black;
    border-style: groove;
 }

 .dark-border-top {
     border-top: solid black 1px;
 }

 .drop-shadow {
    box-shadow: black 1px 1px 5px;
 }

 .inverse-text {
    color: #fbfbfb;
 }

 .header-border-red{
     border-left-color: #e0043f;
 }

 .header-border-blue{
    border-left-color: #00d5ed;
}

.header-border-orange{
    border-left-color: #ffae00;
}

 .header-border h4 {
    margin: 0;
    font-size: larg;
 }


.slatebg{
    background-color: slategrey;
}

.whitebg{
    background-color: #C2CAE8;
}
 
.metal-gear-bg {
    background-image: url(/Users/besposito/projects/bootstrap/GamingSite/assets/images/metal_gear_big.jpg);
}